# Python virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Temporary files
*.tmp
*.log
